/* ! Aqui jaz toda a linha de código destinada ao CSS da barra de menu horizontal. */

ul {
    list-style-type: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #4b4b4b;
    float: left;
}

.menu li {
    position: relative; 
    float: left; 
}

.menu li a {
    color: #ffffff; 
    text-decoration: none; 
    padding: 5px 10px; 
    display: block;
}

.menu li a:hover {
    background: #000000; 
    color: #ffffff; 
    box-shadow: 0 3px 10px 0 #ffffff; 
}

.menu li ul {
    position: absolute; 

    background-color: #4b4b4b; 
    display: none; 
}

.menu li:hover ul {
    display: block;
}

.menu li ul li {
    display: block; 
    width: 150px;
}

.active {
    background-color: #2c2c2c;
    color: #000000;
}