/* ! Aqui jaz toda a linha de código destinada ao CSS do estilo geral */


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=My+Soul&family=Oswald&display=swap');

        h1 {
            font-family: 'Bebas Neue', cursive;
        }

        body {
            font-family: 'Oswald', sans-serif;
            color:  #FFFFFF;
            font-size: 20px;
            background: linear-gradient(0deg, #1B2C34 0%, #354344 50%, #4a4a4a 100%);
            margin: 0;
            padding: 0;
        }

        p {
            padding: 5px 10px;
            text-align: justify;
        }

        .justalign {
            text-align: center;
        }

        /* ! Flex Box - ROW! */

        .container { /* * Flex Box */
            display: flex;
            flex-direction: row;
            flex-wrap:nowrap;
            justify-content: space-around;
        }

        .item { /* * Flex Box */
            padding: 10px;
            margin: 5px;
          } 
         
         .index1 { /* * Flex Box */
            width: 70%;
         }
         
         .index2 { /* * Flex Box */
            width: 30%;
         }

         a {
             color: bisque;
         }

         .fitem { /* * Flex Box */
            padding: 10px;
            margin: 5px;
            box-align: center;
          } 
         
         .findex1 { /* * Flex Box */
            box-align: center;
         }

         input {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 3px solid #625555;
            -webkit-transition: 0,7s;
            transition: 0,7s;
            outline: none;
          }
          
          input:focus {
            border: 3px solid #44679e;
          }


         